@charset "htf8";
* {
    font-family: Arial, Helvetica, sans-serif;
   
}
body {
    background-image: linear-gradient(to right, #A0B9D9, #0378A6);
}
main {background-color: white;
border-radius: 10px;
box-shadow: 5px 5px 15px #493002ae;
width: 600px;
padding: 10px;
margin: auto;}
h1 {
    color: #0378A6;
    text-align: center;
    text-shadow: 1px 1px 2px #0660849e;
    
}
h2 {
    color:#A68B03 
}
p {
    text-align: justify;
}